*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow-color: hsl(47, 88%, 63%);
  --white-color: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
  --font-family: "Figtree", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--yellow-color);
  font-size: 16px;
  color: var(--gray-950);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: var(--white-color);
  border-radius: 1.25em;
  max-width: 24em;
  height: auto;
  border: 1px solid var(--gray-950);
  box-shadow: 8px 8px 0 var(--gray-950);
}

.card {
  padding: 1.5em;
}

.card-image {
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  margin-block-start: 1.5rem;
}

.tag {
  font-size: 0.875em;
  font-weight: 800;
  background-color: var(--yellow-color);
  display: block;
  padding: 0.4em 0.875em;
  width: fit-content;
  border-radius: 4px;
}

.date {
  font-size: 0.875em;
  display: block;
  margin-block-start: 1em;
}

.title {
  font-size: 1.5em;
  margin-block-start: 0.8em;
}

.title a {
  text-decoration: none;
  color: var(--gray-950);
}

a:link {
  color: var(--gray-950);
}

a:active {
  color: var(--gray-950);
}

a:hover {
  color: var(--gray-950);
}

.excerpt {
  margin-block-start: 1em;
  line-height: 1.5;
}

.author {
  font-size: 0.875em;
  font-weight: 800;
  margin-block-start: 1.5em;
  display: flex;
  align-items: center;
  gap: 0.8em;
}

.author img {
  width: 2rem;
  height: 2rem;
}

@media (width < 48em) {
  .container {
    max-width: 20.4375em;
  }

  .card-body {
    font-size: 0.875rem;
  }

  .date {
    margin-block-start: 1.3em;
  }

  .title {
    letter-spacing: -0.5px;
  }
}
